<!DOCTYPE html>

<html xmlns="http//www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Rafael Escobar</title>

    <link rel="stylesheet" type="text/css" href="../node_modules/normalize.css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="public/stylesheets/index.css" />
    <link rel="icon" type="image/x-icon" href="public/images/favicon.ico" />
</head>

<body>
    <div id="container">
        <header>
            <figure>
                <a href="."><img src="public/images/profile.jpg" alt="It's me!" title="It's me!" id="profile" /></a>
            </figure>

            <div id="head-title">
                <h1 id="complete-name">{{header.name}}</h1>
                <h2 id="subtitle">{{header.subtitle.position}} <a href="{{header.subtitle.company.link}}">{{header.subtitle.company.name}}</a></h2>
            </div>
        </header>

        <div id="content">
            <nav id="menu">
                <ul>
                    {{#each menu}}
                    
                    <li><a href="{{this.url}}" target="_blank">{{this.name}}</a></li>
                    
                    {{/each}}
                </ul>
            </nav>

            <div id="about">
                <h2>{{about.title}}</h2>

                {{#each about.paragraphs}}

                <p>{{{this}}}</p>

                {{/each}}
            </div>

            <div id="professional-profile">

                <div id="experience">
                    <h2>{{experience.title}}</h2>

                    {{#each experience.contents}}

                    <section class="life-event">
                        <h3>{{this.title}}</h3>

                        <div name="life-event-content">
                            <p>{{this.level.title}} {{this.level.content}}</p>
                            <p>{{this.duration.title}} {{this.duration.content}}</p>
                            <p>{{this.activities.title}} {{this.activities.content}}</p>
                            <p>{{this.technologies.title}} {{this.technologies.content}}</p>
                        </div>
                    </section>

                    {{/each}}
                </div>

                <div id="academic-formation">
                    <h2>{{academic-formation.title}}</h2>

                    {{#each academic-formation.contents}}

                    <section class="life-event">
                        <h3>{{this.title}}</h3>

                        <div name="life-event-content">
                            <p>{{this.level.title}} {{this.level.content}}</p>
                            <p>{{this.duration.title}} {{this.duration.content}}</p>
                        </div>
                    </section>

                    {{/each}}
                </div>

                <div id="courses">
                    <h2>{{courses.title}}</h2>

                    {{#each courses.contents}}

                    <section class="life-event">
                        <h3>{{this.title}}</h3>

                        <div name="life-event-content">
                            <p>{{this.organization.title}} {{this.organization.content}}</p>
                            <p>{{this.duration.title}} {{this.duration.content}}</p>
                            <p>{{this.contents.title}} {{this.contents.content}}</p>
                        </div>
                    </section>

                    {{/each}}
                </div>

                <div id="languages" class="clearfix">
                    <h2>{{languages.title}}</h2>

                    {{#each languages.contents}}

                    <section class="life-event language">
                        <h3>{{this.title}}</h3>

                        <div name="life-event-content">
                            <p>{{this.reading.title}} {{this.reading.content}}</p>
                            <p>{{this.writing.title}} {{this.writing.content}}</p>
                            <p>{{this.comprehension.title}} {{this.comprehension.content}}</p>
                            <p>{{this.speaking.title}} {{this.speaking.content}}</p>
                        </div>
                    </section>

                    {{/each}}
                </div>

            </div>

            <footer id="copyright">
                <span>{{{footer.copyright}}}</span>
            </footer>
        </div>
    </div>
</body>
</html>