doctype html

html(lang=language)
    head
        title #{ title }
        
        meta(charset='utf-8')
        meta(name='author' content=title)
        meta(name='description' content=subtitle.join(' '))
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        
        link(rel='icon' href='/public/images/icons/favicon.ico' type='image/x-icon')
        link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        link(rel='stylesheet' href='/public/stylesheets/index.css')
        
    body
        header.header
        
            .hero.absolute.screen-center.self-center
                .avatar.base-center
                .description.header-box.base-center
                    h1.title #{ title }
                    h2.subtitle #{ subtitle[0] }
                    p.subtitle #{ subtitle[1] }
                    
            .header-image
            .header-layout
            .header-attribution
                a.header-box-hover(href='//pixabay.com/pt/centro-s%C3%A3o-paulo-viadutos-271296/')
                    span #{ header.photo }
            
            nav.links.absolute.links-left
                ul.menu
                    li.menu-item.links-left-item
                        a.links-item.header-box-hover(href=header.blog.url).
                            #{ header.blog.title }
                    
                    li.menu-item.link-left-item
                        a#bitcoin-activator.links-item.header-box-hover(href=header.bitcoin.url).
                            #{ header.bitcoin.title }
                        
                        span#bitcoin-box.bitcoin-box.self-center.
                            Donate some BTCs for this poor programmer! Eu sô trabaiadô, sinhô!
            
            nav.links.absolute.links-right
                ul.menu
                    li.menu-item.links-right-item
                        a.links-item.header-box-hover(href=header.curriculum.url).
                            #{ header.curriculum.title } 
                                
            
        nav.social.self-center
            ul.menu
                each item, url in social
                    li.menu-item.social-item
                        a.social-icon(href=url)
                            i(class='fa fa-'+item)
        
        main.content(role='main')
            each section in content
                section.content-section
                    h3.content-info.content-title #{ section.title }
                    
                    .content-info.content-text
                        each paragraph in section.paragraphs
                            p.content-info #{ paragraph }
        
        footer.footer.self-center
            
            .footer-line #{ footer.copyright + year }
                span.footer-focus #{ title }
            
            each menu in footer.menus
                nav.footer-line #{ menu.text }
                    each item, url in menu.list
                        a(href=url) item
                        

        script(type='text/javascript' src='/public/scripts/bitcoin-tooltip.js')
        script(type='text/javascript' src='/public/scripts/google-analytics.js')
        script(type='text/javascript' src='/public/scripts/smooth-scroll.js')
        
        noscript
            style(type='text/css').
                .header-image { background-image: url('/public/images/background/01.jpg'); }
                .header-attribution { visibility: hidden; }