doctype html

-
    const socialMenuLinks =
        { 'facebook-f':     'https://facebook.com/Nhanderu'
        , 'linkedin-in':    'https://linkedin.com/in/rafaelbzescobar'
        , 'github':         'https://github.com/Nhanderu'
        , 'telegram-plane': 'https://telegram.me/Nhanderu'
        , 'reddit-alien':   'https://www.reddit.com/user/Nhanderu'
        , 'instagram':      'https://www.instagram.com/zichiaescobar'
        , 'lastfm':         'https://www.last.fm/user/Taevataat'
        , 'goodreads-g':    'https://www.goodreads.com/Nhanderu'
        , 'strava':         'https://www.strava.com/athletes/nhanderu'
        , 'steam-symbol':   'https://steamcommunity.com/id/Nhanderu'
        }

    const walletAddresses =
        { bitcoin:
            { name: 'Bitcoin'
            , address: '3HqHtkJXny6ktgKrAgBdCZpQ8Thv1LE2uU'
            }
        , ethereum:
            { name: 'Ethereum'
            , address: 'unavailable'
            }
        , litecoin:
            { name: 'Litecoin'
            , address: 'unavailable'
            }
        }

html

    header

        meta(charset='utf-8')
        meta(name='author' content='Rafael Escobar')
        meta(name='description' content='')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        
        link(inline, rel='stylesheet', href='index.css')

        title Rafael Escobar!

    body

        .wrapper: .box-wrapper

            .box-picture
                img#picture(src='https://s.gravatar.com/avatar/4755404e7968a565720746514e473296?s=300')

            .box-profile
                .description
                    | Hello, my name is Rafael, I'm
                    span#age-text= ' 666 '
                    | and I'm from São Paulo, Brazil. I'm a programmer, a Corinthians huge fan, an
                    | anarcho-capitalism enthusiast and a lover of coffee, beer, philosophy, comp.
                    | sci. and linguistics.
                .social
                    ul.social-list
                        each value, key in socialMenuLinks
                            li.social-item
                                a.social-item-link(href=value)
                                    i(class=`fab fa-${key}`, aria-hidden='true')

            .box-links: ul.links-list
                li.links-item
                    a.links-item-link.button(href='mailto:rescobar@protonmail.com') Mail me
                li.links-item
                    a#modal-link.links-item-link.button(href='#') Wallets

        #modal
            .modal-wrapper
                span#modal-closer close
                .modal-links
                    each value, key in walletAddresses
                        span.button(data-crypto=key, data-wallet-address=value.address) #{value.name}
                #qr-code
                .box-wallet-address
                    span Wallet address
                    button#wallet-address.button

        script(inline, src='date-update.js')

        link(
            rel='stylesheet',
            href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css',
        )
        link(
            rel='stylesheet',
            href='https://use.fontawesome.com/releases/v5.0.13/css/brands.css',
            integrity='sha384-VGCZwiSnlHXYDojsRqeMn3IVvdzTx5JEuHgqZ3bYLCLUBV8rvihHApoA1Aso2TZA',
            crossorigin='anonymous',
        )
        link(
            rel='stylesheet',
            href='https://use.fontawesome.com/releases/v5.0.13/css/fontawesome.css',
            integrity='sha384-GVa9GOgVQgOk+TNYXu7S/InPTfSDTtBalSgkgqQ7sCik56N9ztlkoTr2f/T44oKV',
            crossorigin='anonymous',
        )

        script(inline, src='modal.js')
        script(inline, src='../lib/qrcodejs/qrcode.min.js')
        script(inline, src='qr-code.js')
